.ReactModal__Overlay {
    opacity: 0;
    transition: opacity 200ms ease-in-out;
    backdrop-filter: blur(8px);
}

.ReactModal__Overlay--after-open{
    opacity: 1;
    backdrop-filter: blur(8px);
}

.ReactModal__Overlay--before-close{
    opacity: 0;
    backdrop-filter: blur(8px);
}

.Insufficent {
    text-align: center;
    font-size: 30px;
}

.valid-ammount {
    text-align: center;
    position: relative;
    font-size: 20px;
    top: 30px;
}

.closeUnsuccessful {
    background-color: #5e5def;
    border: none;
    color: whitesmoke;
    padding: 10px 20px;
    text-align: center;
    font-weight: bolder;
    text-decoration: none;
    display: inline-block;
    margin: 10px 90px;
    position: relative;
    left: 70px;
    top: 40px;
    cursor: pointer;
    border-radius: 16px;

}

.noMoney {
    width:6em;
    height:6em;
    position:relative;
    top: 10px;
    left:155px;

}

.yesMoney {
    width:8em;
    height:8em;
    position:relative;
    top: 20px;
    left:130px;
}

.tick {
    width:9em;
    height:8em;
    position:relative;
    top: 20px;
    left:90px; 
}

.x {
    width:5em;
    height:5em;
    position:relative;
    top: 10px;
    left: 115px;
}

.closeSuccessful {
    background-color: #5e5def;
    border: none;
    color: whitesmoke;
    padding: 10px 20px;
    text-align: center;
    font-weight: bolder;
    text-decoration: none;
    display: inline-block;
    margin: 10px 90px;
    position: relative;
    right: 65px;
    Top: 70px;
    cursor: pointer;
    border-radius: 16px;
}

.stock-sold {
    background-color: #5e5def;
    border: none;
    color: whitesmoke;
    padding: 10px 20px;
    text-align: center;
    font-weight: bolder;
    text-decoration: none;
    display: inline-block;
    margin: 10px 90px;
    position: relative;
    left: 20px;
    Top: 40px;
    cursor: pointer;
    border-radius: 16px;
}

.stock-notSold {
    background-color: #5e5def;
    border: none;
    color: whitesmoke;
    padding: 10px 20px;
    text-align: center;
    font-weight: bolder;
    text-decoration: none;
    display: inline-block;
    margin: 10px 90px;
    position: relative;
    left: 20px;
    Top: 27px;
    cursor: pointer;
    border-radius: 16px;
}

